@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!DOCTYPE html>
<html>  
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <style>       

        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
            background-color: #027ed1 !important;
            color: #fff !important;
        }

        .nav-tabs .nav-item .nav-link:not(.active) {
            background-color: #716969;
            color: #fff;
        }
       #legends {            
            border-radius: 10px;           
            width: 23%;
            margin: 10px;
            padding: 8px;
        }
        #border {
            border: 1px solid #efdada;          
            border-radius: 10px;
        }
        p {
            text-align: center;
            color: #fff;
        }

        /* Normal rows */
        #clientListGrid .k-grid-content tr td {
            background-color: #ffffff;
            border-bottom: 1px solid #dcdcdc;
        }

        /* Alternate rows */
        #clientListGrid .k-grid-content tr.k-alt td {
            background-color: #fff !important;
            color: #000;
            border-bottom: 1px solid #dcdcdc;
        }
        /* Cell borders */
        #clientListGrid td {
            border: 1px solid #cfd8dc;
        }

        #clientListGrid .k-grid-content tr:last-child td {
            border-bottom: 1px solid #dcdcdc !important;
        }

        /* Compact row height */
        #clientListGrid .k-grid-content td {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        /* Fixed layout */
        #clientListGrid .k-grid-header table,
        #clientListGrid .k-grid-content table {
            table-layout: fixed;
            width: 100%;
        }

        /* Prevent wrapping */
        #clientListGrid .k-grid-header th,
        #clientListGrid .k-grid-content td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #clientListGrid .k-grid-content td {
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 18px;
            font-size: 13px;
        }

        #clientListGrid .k-grid-header th {
            padding-top: 4px;
            padding-bottom: 4px;
            line-height: 18px;
            font-size: 13px;
        }

        #clientListGrid .k-grid-content {
            height: 330px !important;
        }

            /* Normal rows */
        #issueListGrid .k-grid-content tr td {
                background-color: #ffffff;
                border-bottom: 1px solid #dcdcdc;
            }
            /* Alternate rows */
        #issueListGrid .k-grid-content tr.k-alt td {
                background-color: #fff !important;
                color: #000;
                border-bottom: 1px solid #dcdcdc;
            }
        /* Cell borders */
        #issueListGrid td {
            border: 1px solid #cfd8dc;
        }

        #issueListGrid .k-grid-content tr:last-child td {
            border-bottom: 1px solid #dcdcdc !important;
        }

        /* Cell borders */
        #issueListGrid td {
            border: 1px solid #cfd8dc;
        }

        /* Compact row height */
        #issueListGrid .k-grid-content td {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        /* Fixed layout */
        #issueListGrid .k-grid-header table,
        #issueListGrid .k-grid-content table {
            table-layout: fixed;
            width: 100%;
        }

        /* Prevent wrapping */
        #issueListGrid .k-grid-header th,
        #issueListGrid .k-grid-content td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #issueListGrid .k-grid-content td {
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 18px;
            font-size: 13px;
        }

        #issueListGrid .k-grid-header th {
            padding-top: 4px;
            padding-bottom: 4px;
            line-height: 18px;
            font-size: 13px;
        }

        #issueListGrid .k-grid-content {
            height: 330px !important;
        }

        .nav-align-top.mb-4 {
            margin-top: -17px;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card-body" style="margin-top:5px;height: 556px;width: 103%;margin-left: -18px;">
                <div class="nav-align-top mb-4">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link active"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-top-dashboard"
                                    aria-controls="navs-top-dashboard"
                                    aria-selected="true">
                                Dashboard
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-top-issue"
                                    aria-controls="navs-top-issue"
                                    aria-selected="false">
                                Offer
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-top-client"
                                    aria-controls="navs-top-client"
                                    aria-selected="false">
                                Client
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" style="height: 508px;">
                        <div class="tab-pane fade show active" id="navs-top-dashboard" role="tabpanel">
                            <div class="row" style="margin-top: -20px;">
                                <div class="col-sm-2" id="legends" style="background:#12526f">
                                    <p>1200</p>
                                    <p>Companies</p>
                                </div>
                                <div class="col-sm-2" id="legends" style="background:#db5b17">
                                    <p>1800</p>
                                    <p>Issues</p>
                                </div>
                                <div class="col-sm-2" id="legends" style="background:#428d27">
                                    <p>15 (Rs.6.8L)</p>
                                    <p>Mainboard IPO</p>
                                </div>
                                <div class="col-sm-2" id="legends" style="background:#0d8bbb">
                                    <p>4 (Rs.11L)</p>
                                    <p>SME IPOs</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="col-sm-2" id="legends" style="background:#12526f">
                                    <p>23 (Rs.8.2L)</p>
                                    <p>IPOs In Progress</p>
                                </div>
                                <div class="col-sm-2" id="legends" style="background:#db5b17">
                                    <p>36 (Rs.3.4L)</p>
                                    <p>IPOs Completed</p>
                                </div>
                                <div class="col-sm-2" id="legends" style="background:#428d27">
                                    <p>11 (Rs.3.8L)</p>
                                    <p>IPOs Listed</p>
                                </div>
                                <div class="col-sm-2" id="legends" style="background:#0d8bbb">
                                    <p>9 (Rs.9L)</p>
                                    <p>IPOs Closure</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top:18px;margin-left: 0px;">
                                <div class="col-sm-5" id="border">
                                    <div id="piechart_3d" style="width: 450px; height: 230px;"></div>
                                </div>
                                <div class="col-sm-5" id="border" style="margin-left:165px;">
                                    <div id="curve_chart" style="width: 450px; height: 230px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="navs-top-issue" role="tabpanel">
                            <div class="row" style="margin-top:-13px;">
                                <div class="col-sm-6">
                                    <img id="plusIcon" onclick="location.href='@Url.Action("IssueSetup", "IssueSetup", new { mode = "Create" })'" style="width:11px; height:11px;margin-bottom:12px;cursor:pointer" src="~/Assets/images/plus.png" />
                                </div>
                                <div class="col-sm-6">
                                    <i class='fas fa-file-excel' style='font-size:20px;color:green;float:right'></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="issueListGrid"></div>
                                </div>
                            </div>                            
                        </div>
                        <div class="tab-pane fade" id="navs-top-client" role="tabpanel">
                            <div class="row" style="margin-top:-13px;">
                                <div class="col-sm-6">
                                    <img id="plusIcon" onclick="location.href='@Url.Action("ClientSetup", "ClientSetup", new { mode = "Create" })'" style="width:11px; height:11px;margin-bottom:12px;cursor:pointer" src="~/Assets/images/plus.png" />
                                </div>
                                <div class="col-sm-6">
                                    <i class='fas fa-file-excel' style='font-size:20px;color:green;float:right'></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="clientListGrid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>    
     $( document ).ready(function() {
          $('#navhead').text('Dashboard');
          const urlParams = new URLSearchParams(window.location.search);
            const tab = urlParams.get('tab');

        if (tab === "client") {

            // Activate Client Listing tab button
            var triggerEl = document.querySelector('[data-bs-target="#navs-top-client"]');
            var tabInstance = new bootstrap.Tab(triggerEl);
            tabInstance.show();
            history.replaceState(null, null, window.location.pathname);
        } else if (tab === "issue") {
            // Activate Client Listing tab button
            var triggerEl = document.querySelector('[data-bs-target="#navs-top-issue"]');
            var tabInstance = new bootstrap.Tab(triggerEl);
            tabInstance.show();
            history.replaceState(null, null, window.location.pathname);
        }
    }); 

     google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Companies',     11],
          ['Issues',      2],
          ['Mainboard IPO',  2],
          ['SME IPOs', 2]         
        ]);

        var options = {
          title: 'IPO Details',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }


     google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawCharts);

      function drawCharts() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'IPOs Listed', 'IPOs Completed'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'IPO Reports',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }

    var issueGridLoaded = false;
    

    $('button[data-bs-target="#navs-top-issue"]').on('shown.bs.tab', function () {

        if (!issueGridLoaded) {

            $("#issueListGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("GetIssueList", "IssueSetup")",
                            dataType: "json"
                        }
                    },
                    pageSize: 5
                },
                pageable: true,
                sortable: true,
                filterable: true,
                height: 400,
                columns: [
                    { field: "issueCode", title: "Offer Code" },
                    { field: "clientName", title: "Client Name" },
                    { field: "issueType", title: "Offer Type" },
                    { field: "listing", title: "Listing" },                  
                    { field: "issueStatus", title: "Offer Status" },
                    {
                        title: "Action",
                        template:
                           "<center>" +                          
                              "<img src='../Assets/images/viewicons.png' " +
                            "style='cursor:pointer;' " +
                            "onclick='viewIssueGrid(this)' /> &nbsp;&nbsp;" +
                             "<img src='../Assets/images/del.png' " +
                            "style='cursor:pointer;' " +
                            "onclick='delIssueGrid(this)' />" +
                            "</center>"
                    }
                ]
            });

            issueGridLoaded = true; // so it doesn't reinitialize
        }

    });

    var clientGridLoaded = false;
    $('button[data-bs-target="#navs-top-client"]').on('shown.bs.tab', function () {

        if (!clientGridLoaded) {

            $("#clientListGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("GetClientList", "ClientSetup")",
                            dataType: "json"
                        }
                    },
                    pageSize: 5
                },
                pageable: true,
                sortable: true,
                filterable: true,
                height: 400,
                columns: [
                    { field: "issueCode", title: "Client Code" },
                    { field: "clientName", title: "Client Name" },
                    { field: "cin", title: "CIN" },
                    { field: "city", title: "City" },
                    { field: "state", title: "State" },
                    { field: "clientStatus", title: "Client Status" },
                    {
                        title: "Action",
                        template:
                           "<center>" +
                            "<img src='../Assets/images/editicons.png' " +
                            "style='cursor:pointer;' " +
                            "onclick='editGrid(this)' /> &nbsp;&nbsp;" +
                              "<img src='../Assets/images/viewicons.png' " +
                            "style='cursor:pointer;' " +
                            "onclick='viewGrid(this)' /> &nbsp;&nbsp;" +
                             "<img src='../Assets/images/del.png' " +
                            "style='cursor:pointer;' " +
                            "onclick='delGrid(this)' />" +
                            "</center>"
                    }
                ]
            });

            clientGridLoaded = true; // so it doesn't reinitialize
        }

    });


     function editGrid(e) {

        var grid = $("#clientListGrid").data("kendoGrid");
        var row = $(e).closest("tr");
        var dataItem = grid.dataItem(row);

        var form = $('<form>', {
            action: '@Url.Action("ClientSetupList", "ClientSetup")',
            method: 'POST'
        });

        form.append($('<input>', {
            type: 'hidden',
            name: 'id',
            value: dataItem.id
        }));

        form.appendTo('body').submit();        
    }

    function editIssueGrid(e) {

        var grid = $("#issueListGrid").data("kendoGrid");
        var row = $(e).closest("tr");
        var dataItem = grid.dataItem(row);

        var form = $('<form>', {
            action: '@Url.Action("IssueSetupList", "IssueSetup")',
            method: 'POST'
        });

        form.append($('<input>', {
            type: 'hidden',
            name: 'id',
            value: dataItem.id
        }));

        form.appendTo('body').submit();
    }

</script>
